.btnDark {
  color: #ffffff;
  width: 190px;
  height: 60px;
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.btnDark:hover {
  background-color: #0b972a;
}
