@font-face{
    font-family: "Circe";
    src: url("./Circe/Circe-Regular.woff");
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: "Circe";
    src: url("./Circe/Circe-Bold.woff");
    font-style: normal;
    font-weight: 700;
}

@font-face{
    font-family: "Circe";
    src: url("./Circe/Circe-ExtraBold.woff");
    font-style: normal;
    font-weight: 800;
}

@font-face{
    font-family: 'RubikOne';
    src: url("./RubikOne/RubikOne-Regular.woff");
    font-style: normal;
    font-weight: 400;
}