@import "./../../assets/fonts/fonts.css";

/* main */
/* ----------------------------------------------------------------------------- */

.main {
  background-color: #262222;
}

.main__title {
  display: none;
}

/* slider */
/* ----------------------------------------------------------------------------- */

.swiper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 1290px;
  height: 438px;
  // width: 100%;
  // height: 100%;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .swiper {
    width: 700px;
    height: 682px;
  }
}

@media screen and (max-width: 767px) {
  .swiper {
    width: 325px;
    height: 576px;
    padding-top: 38px;
    border-top: 2px solid #302d2d;
  }
}

.swiper-slide {
  width: 1290px;
  height: 438px;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@media screen and (max-width: 1919px) {
  .swiper-slide {
    width: 700px;
    height: 682px;
  }
}

@media screen and (max-width: 767px) and (min-width: 768px) {
  .swiper-slide {
    width: 325px;
    height: 538px;
  }
}

.swiper-slide-container {
  width: 1290px !important;
  margin-right: 0 !important;
  height: 438px;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .swiper-slide-container {
    width: 700px !important;
    height: 682px !important;
  }
}

@media screen and (max-width: 767px) {
  .swiper-slide-container {
    width: 325px !important;
    height: 538px !important;
  }
}

.swiper-slide {
  width: 1290px;
  height: 438px;
  display: flex;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .swiper-slide {
    width: 700px;
    height: 682px;
    display: table-row;
  }
}

@media screen and (max-width: 767px) {
  .swiper-slide {
    width: 325px;
    height: 538px;
    display: table-row;
  }
}

.swiper-slide__img {
  width: 630px;
  height: 438px;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .swiper-slide__img {
    width: 700px;
    height: 350px;
  }
}

@media screen and (max-width: 767px) {
  .swiper-slide__img {
    width: 324px;
    height: 220px;
  }
}

.swiper-slide__tag-wrapper {
  width: 145px;
  height: 40px;
  background-color: #262222;
  display: flex;
  position: absolute;
  top: 20px;
  left: 660px;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .swiper-slide__tag-wrapper {
    width: 160px;
    height: 40px;
    top: 330px;
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  .swiper-slide__tag-wrapper {
    width: 127px;
    height: 40px;
    top: 220px;
    left: 0;
  }
}

.swiper-slide__tag-text {
  color: #0b972a;
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin: auto;
}

.swiper-slide-right {
  background-color: #181717;
  padding-left: 30px;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .swiper-slide-right {
    padding-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .swiper-slide-right {
    padding-top: 60px;
    padding-left: 0;
    height: 318px;
  }
}

.swiper-slide-right__title {
  width: 436px;
  height: 86px;
  color: white;
  font-family: "RubikOne";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  margin-top: 90px;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .swiper-slide-right__title {
    width: 543px;
    height: 86px;
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .swiper-slide-right__title {
    margin-top: 0;
    width: 324px;
    height: 62px;
    font-family: "RubikOne";
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
  }
}

.swiper-slide-right-description__container {
  width: 401px;
  height: 96px;
  border-left: 4px solid #0b972a;
}

@media screen and (max-width: 767px) {
  .swiper-slide-right-description__container {
    width: 324px;
    margin-top: 10px;
    height: 96px;
    padding-top: 6px;
  }
}

.swiper-slide-right-description__text {
  width: 371px;
  height: 96px;
  margin-left: 30px;
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: white;
}

@media screen and (max-width: 767px) {
  .swiper-slide-right-description__text {
    width: 304px;
    height: 84px;
    font-family: "Circe";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-left: 18px;
  }
}

.swiper-slide-right-bottom-wrapper {
  margin-top: 86px;
  display: flex;
}

@media screen and (max-width: 1919px) {
  .swiper-slide-right-bottom-wrapper {
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .swiper-slide-right-bottom-wrapper {
    margin-top: 30px;
    align-items: center;
  }
}

.swiper-slide-right-likes-comments-container {
  display: flex;
  margin-top: 9px;
}

.swiper-slide-right-likes {
  display: flex;
}

.swiper-slide-right-likes__icon {
  width: 20px;
  height: 20px;
}

.swiper-slide-right-likes__counter {
  margin-left: 5px;
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: white;
}

.swiper-slide-right-comments {
  display: flex;
  margin-left: 20px;
}

.swiper-slide-right-comments__icon {
  width: 20px;
  height: 20px;
}

.swiper-slide-right-comments__counter {
  margin-left: 5px;
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: white;
}

.swiper-slide-right__btn {
  width: 190px;
  height: 60px;
  // margin-left: 349px;
  margin-left: 357px;
  margin-top: 20px;
  background-color: #0b972a;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: white;
}

@media screen and (max-width: 1919px) {
  .swiper-slide-right__btn {
    margin-top: 0;
    margin-left: 383px;
  }
}

@media screen and (max-width: 767px) {
  .swiper-slide-right__btn {
    margin-top: 0;
    margin-left: 105px;
    width: 128px;
    height: 60px;
  }
}

.swiper-pagination-bullet {
  background: #181717;
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background: #0B972A;
  width: 10px;
  height: 10px;
}

/* last stories */
/* ----------------------------------------------------------------------------- */

.stories {
  width: 1290px;
  height: 551px;
  margin: 80px auto 80px;
}

@media screen and (max-width: 1919px) {
  .stories {
    width: 700px;
    height: 1111px;
  }
}

@media screen and (max-width: 767px) {
  .stories {
    width: 330px;
    height: 1619px;
  }
}

.stories__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stories__title {
  color: #ffffff;
  font-family: "RubikOne";
  font-style: normal;
  font-weight: normal;
  font-size: 43px;
}

@media screen and (max-width: 767px) {
  .stories__title {
    width: 324px;
    height: 29px;
    font-family: "RubikOne";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .stories__link {
    display: none;
  }
}

.stories-content-wrapper {
  display: flex;
}

@media screen and (max-width: 1919px) {
  .stories-content-wrapper {
    display: table-row;
  }
}

.stories-grid-wrapper {
  margin-top: 20px;
  margin-left: 30px;
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-auto-rows: 230px;
  grid-gap: 28px;
  justify-content: space-between;
  grid-template-areas: "big";
}

@media screen and (max-width: 1919px) and (min-width: 767px) {
  .stories-grid-wrapper {
    margin-left: 0;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 340px);
    grid-auto-rows: 230px;
    grid-column-gap: 20px;
    grid-row-gap: 28px;
    justify-content: space-between;
    grid-template-areas: "big";
  }
}

@media screen and (max-width: 767px) {
  .stories-grid-wrapper {
    margin-left: 0;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(1, 324px);
    grid-auto-rows: 230px;
    grid-row-gap: 40px;
    justify-content: space-between;
    grid-template-areas: "big";
  }
}

.stories-grid__item {
  height: 100%;
  width: 100%;
  background-color: #181717;
  position: relative;
}

.stories-main-story {
  margin-top: 20px;
  background-color: #181717;
  position: relative;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .stories-main-story {
    width: 700px;
    height: 520px;
  }
}

@media screen and (max-width: 767px) {
  .stories-main-story {
    width: 324px;
    height: 439px;
  }
}

.stories-main-story-img-wrapper {
  display: inline-block;
  overflow: hidden;
}

.stories-main-story__img {
  transition: 1s;
  display: block;
}
.stories-main-story__img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .stories-main-story__img {
    width: 700px;
    height: 320px;
  }
}

@media screen and (max-width: 767px) {
  .stories-main-story__img {
    width: 324px;
    height: 150px;
  }
}

.stories-main-story-tag__wrapper {
  width: 145px;
  height: 32px;
  background-color: #262222;
  display: flex;
  position: absolute;
  top: 265px;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .stories-main-story-tag__wrapper {
    top: 301px;
  }
}

@media screen and (max-width: 767px) {
  .stories-main-story-tag__wrapper {
    top: 134px;
  }
}

.stories-main-story-tag__text {
  color: #0b972a;
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin: auto;
}

.stories-main-story-container {
  margin-top: 32px;
}

.stories-main-story__title {
  width: 401px;
  height: 58px;
  margin: 0 0 10px 20px;
  color: #ffffff;
  font-family: "Circe";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .stories-main-story__title {
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .stories-main-story__title {
    width: 304px;
    height: 58px;
    margin-top: 36px;
    margin-left: 10px;
    font-family: "Circe";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
  }
}

.stories-main-story__green-border {
  border-left: 4px solid #0b972a;
  width: 445px;
  height: 80px;
  margin-top: 10px;
  margin-left: 20px;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .stories-main-story__green-border {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .stories-main-story__green-border {
    margin-left: 10px;
    width: 304px;
    height: 100px;
    padding-top: 8px;
  }
}

.stories-main-story__text {
  margin: 4px auto 4px 20px;
  color: #ffffff;
  width: 425px;
  height: 72px;
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .stories-main-story__text {
    width: 284px;
    height: 84px;
    font-family: "Circe";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
  }
}

.stories-main-story-continue-reading__link {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 428px;
  left: 571px;

  .stories-main-story-continue-reading__img {
    display: block;
  }

  .stories-main-story-continue-reading__img-hover {
    display: none;
  }
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .stories-main-story-continue-reading__link {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 460px;
    left: 640px;
  }
  .stories-main-story-continue-reading__img {
    display: block;
  }
  .stories-main-story-continue-reading__img-hover {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .stories-main-story-continue-reading__img {
    display: block;
  }
  .stories-main-story-continue-reading__link {
    top: 379px;
    left: 264px;
    width: 60px;
    height: 60px;
    position: absolute;
  }
  .stories-main-story-continue-reading__img-hover {
    display: none;
  }
}

.stories-main-story-continue-reading__link:hover {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 428px;
  left: 571px;

  .stories-main-story-continue-reading__img-hover {
    display: block;
  }

  .stories-main-story-continue-reading__img {
    display: none;
  }
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .stories-main-story-continue-reading__link:hover {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 460px;
    left: 640px;
  }
  .stories-main-story-continue-reading__img-hover {
    display: block;
  }
  .stories-main-story-continue-reading__img {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .stories-main-story-continue-reading__link:hover {
    top: 379px;
    left: 264px;
    width: 60px;
    height: 60px;
    position: absolute;
  }
  .stories-main-story-continue-reading__img-hover {
    display: block;
  }

  .stories-main-story-continue-reading__img {
    display: none;
  }
}

.stories-main-story-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .stories-main-story-wrapper {
    display: table-row;
  }
}

.stories-grid__item {
  position: relative;
}

.stories-grid-story-tag__wrapper {
  width: 125px;
  height: 30px;
  background-color: #262222;
  display: flex;
  position: absolute;
  top: 121px;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .stories-grid-story-tag__wrapper {
    top: 135px;
  }
}

@media screen and (max-width: 767px) {
  .stories-grid-story-tag__wrapper {
    top: 125px;
  }
}

.stories-grid-story-tag__text {
  color: #0b972a;
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin: auto;
}

.stories-grid-story-img-wrapper {
  display: inline-block;
  overflow: hidden;
}

.stories-grid-story__img {
  transition: 1s;
  display: block;
  // height: 136px;
  // width: 300px;
}
.stories-grid-story__img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .stories-grid-story__img {
    height: 150px;
    width: 340px;
  }
}

@media screen and (max-width: 767px) {
  .stories-grid-story__img {
    height: 140px;
    width: 324px;
  }
}

.stories-grid-story__title {
  color: #ffffff;
  width: 275px;
  height: 56px;
  margin-top: 25px;
  margin-left: 13px;
  font-family: "Circe";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
}

@media screen and (max-width: 1919px) {
  .stories-grid-story__title {
    font-size: 16px;
  }
}

/* tv show */
/* ----------------------------------------------------------------------------- */

.tv {
  border-top: 2px solid #302d2d;
}

.tv-wrapper {
  margin: 0 auto;
  width: 1290px;
  height: 583px;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .tv-wrapper {
    width: 700px;
    height: 384px;
  }
}

@media screen and (max-width: 767px) {
  .tv-wrapper {
    margin-top: 89px;
    width: 324px;
    height: 659px;
  }
}

.tv-top {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tv__title {
  color: white;
  font-family: "RubikOne";
  font-style: normal;
  font-weight: normal;
  font-size: 43px;
}

@media screen and (max-width: 767px) {
  .tv__title {
    width: 322px;
    height: 29px;
    font-family: "RubikOne";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .tv__link {
    display: none;
  }
}

.tv-grid {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-auto-rows: 525px;
  grid-gap: 30px;
  justify-content: space-between;
  grid-template-areas: "big";
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .tv-grid {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(4, 160px);
    grid-auto-rows: 226px;
    grid-gap: 20px;
    justify-content: space-between;
    grid-template-areas: "big";
  }
}

@media screen and (max-width: 767px) {
  .tv-grid {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(2, 156px);
    grid-auto-rows: 220px;
    grid-column-gap: 12px;
    grid-row-gap: 20px;
    justify-content: space-between;
    grid-template-areas: "big";
  }
}

.tv-grid__img {
  width: 300px;
  height: 425px;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .tv-grid__img {
    width: 160px;
    height: 226px;
  }
}

@media screen and (max-width: 767px) {
  .tv-grid__img {
    width: 156px;
    height: 220px;
  }
}

/* podcast */
/* ----------------------------------------------------------------------------- */

.podcast {
  border-top: 2px solid #302d2d;
}

.podcast-wrapper {
  height: 933px;
  width: 1290px;
  margin: 80px auto 40px;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .podcast-wrapper {
    width: 700px;
    height: 1288px;
  }
}

@media screen and (max-width: 767px) {
  .podcast-wrapper {
    width: 324px;
    height: 2380px;
    margin-top: 60px;
  }
}

.podcast-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.podcast__title {
  color: #ffffff;
  font-family: "RubikOne";
  font-style: normal;
  font-weight: normal;
  font-size: 43px;
}

@media screen and (max-width: 767px) {
  .podcast__title {
    width: 324px;
    height: 29px;
    font-family: "RubikOne";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .podcast__link {
    display: none;
  }
}

.button-more-wrap {
  display: flex;
  height: 21px;
  position: relative;
}

.button-more__text {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #0b972a;
  margin-top: 4px;
  margin-right: 18px;
}

.button-more__arrow {
  align-items: top;
  position: absolute;
  right: 0%;
}

.podcast-grid__wrapper {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 410px);
  grid-auto-rows: 335px;
  grid-column-gap: 30px;
  grid-row-gap: 60px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .podcast-grid__wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 340px);
    grid-auto-rows: 335px;
    grid-column-gap: 20px;
    grid-row-gap: 60px;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .podcast-grid__wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(1, 324px);
    grid-auto-rows: 335px;
    grid-gap: 40px;
    justify-content: space-between;
    align-items: center;
  }
}

.podcast-grid__item {
  height: 100%;
  display: block;
  width: 100%;
}

.podcast-grid__img {
  display: block;
  width: 410px;
  height: 225px;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .podcast-grid__img {
    height: 200px;
    width: 340px;
  }
}

@media screen and (max-width: 767px) {
  .podcast-grid__img {
    height: 200px;
    width: 324px;
  }
}

.podcast-grid__theme {
  color: white;
  margin-top: 20px;
  font-family: "Circe";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .podcast-grid__theme {
    font-family: "Circe";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
  }
}

.podcast-grid-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-top: 10px;
}

.podcast-grid-icons-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.podcast-grid-icons-left__likes {
  margin-left: 5px;
  color: white;
}

.podcast-grid-icons-left__icon-comments {
  margin-left: 20px;
}

.podcast-grid-icons-left__comments {
  margin-left: 5px;
  color: white;
}

/* download mobile version */
/* ----------------------------------------------------------------------------- */

.download {
  border-top: 2px solid #302d2d;
}
@media screen and (min-width: 1920px) {
  .download-conteiner {
    width: 1290px;
    height: 639px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
  }
}

@media screen and (max-width: 1919px) and (min-width: 767px) {
  .download-conteiner {
    width: 700px;
    height: 1005px;
    padding-top: 80px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .download-conteiner {
    width: 324px;
    height: 648px;
    padding-top: 0px;
    margin: 80px auto 0;
  }
}

.download__description {
  width: 633px;
  height: 226px;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .download__description {
    width: 581px;
    height: 226px;
    align-items: top;
  }
}

@media screen and (max-width: 767px) {
  .download__description {
    width: 324px;
    height: 246px;
    align-items: top;
  }
}

.download__title {
  margin-bottom: 20px;
  color: white;
  font-family: "RubikOne";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
}

@media screen and (max-width: 767px) {
  .download__title {
    font-family: "RubikOne";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
  }
}

.download__text {
  color: white;
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .download__text {
    font-size: 14px;
  }
}

.download__text-bold {
  color: white;
  font-family: "Circe";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .download__text-bold {
    font-size: 14px;
  }
}

.download__premium-link {
  color: #0b972a;
  text-decoration: underline;
}

.download_description {
  color: white;
}

.download-buttons {
  display: flex;
  margin-top: 52px;
}

.download-buttons__btn {
  height: 60px;
  width: 190px;
  background-color: #0b972a;
  margin-right: 30px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .download-buttons__btn {
    width: 220px;
    height: 60px;
  }
}

@media screen and (max-width: 1919px) {
  .download-buttons__btn {
    width: 156px;
    height: 54px;
  }
}

.download-buttons__description {
  margin: 0 33px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1919px) {
  .download-buttons__description {
    margin: 0 auto;
  }
}

.download-buttons-text {
  margin-left: 10px;
}

.download-buttons-text__download {
  color: white;
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  float: left;
}

.download-buttons-text__store {
  color: white;
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.download__banner-1920 {
  margin-left: 32.85px;
  width: 622.15px;
  height: 439.75px;
  display: block;
}
.download__banner-768-360 {
  display: none;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .download__banner-1920 {
    display: none;
  }
  .download__banner-768-360 {
    width: 520px;
    height: 367px;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .download__banner-1920 {
    display: none;
  }
  .download__banner-768-360 {
    width: 324px;
    height: 228px;
    display: block;
  }
}
