@import "./../../assets/fonts/fonts.css";

.header {
  background-color: #262222;
  height: 235px;
}

@media only screen and (max-width: 1919px) {
  .header {
    height: 216px;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    height: 103px;
  }
}

.header-top__wrapper {
  border-bottom: 2px solid #302d2d;
}

.header-top {
  width: 1290px;
  height: 126px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 1919px) {
  .header-top {
    width: 700px;
  }
}

@media screen and (max-width: 767px) {
  .header-top {
    width: 325px;
    height: 103px;
  }
}

.header-top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top__logo {
  margin-top: 14px;
}

@media screen and (max-width: 767px) {
  .header-top__logo {
    margin-top: 34px;
    width: 100px;
    height: 60.24px;
  }
}

.header-top-right__btn {
  margin-right: 30px;
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

@media screen and (max-width: 1919px) {
  .header-top-right__btn {
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .header-top-right__btn {
    display: none;
  }
}

.header-top-right__btn:last-child {
  margin-right: 0px;
}

.header-top__burger {
  margin-left: 196px;
  margin-top: 52px;
  width: 28px;
  height: 25px;
}

@media screen and (min-width: 768px) {
  .header-top__burger {
    display: none;
  }
}

/* header bottom */
/* -------------------------------------------------------- */

.header-bottom {
  width: 1290px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 1919px) {
  .header-bottom {
    width: 700px;
  }
}

@media screen and (max-width: 767px) {
  .header-bottom {
    display: none;
  }
}

/* header navigation */
/* -------------------------------------------------------- */

.header-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 30px;
}

@media screen and (max-width: 1920px) {
  .header-nav-list {
    margin-top: 20px;
  }
}

.header-nav-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-right: 2px solid #302d2d;
}

@media only screen and (max-width: 1920px) {
  .header-nav-list__item {
    padding: 0 20px;
  }
}

.header-nav-list__item:last-child {
  padding-right: 0px;
  border-right: 0;
}

.header-nav-list__item:first-child {
  padding-left: 0px;
}

.header-nav-list__link {
  color: #ffffff;
  height: 50px;
  display: flex;
  align-items: center;
  font-family: "Circe";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.header-nav-list__link:hover {
  text-decoration: underline;
}

.header-nav-list__link:active {
  color: #0b972a;
  text-decoration: none;
}

/* header search */
/* ------------------------------------------ */

.header-search {
  display: flex;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 1920px) {
  .header-search__input {
    background: #181717;
    width: 410px;
    height: 60px;
    margin-top: 22.5px;
    padding-left: 55px;
    font-family: "Circe";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
  }

  .header-search__icon-1920 {
    position: absolute;
    left: 20px;
    bottom: 20px;
  }

  .header-search__icon-768 {
    display: none;
  }
}

@media screen and (max-width: 1920px) {
  .header-search__input {
    display: none;
  }
  .header-search__icon-1920 {
    display: none;
  }
  .header-search__icon-768 {
    margin-left: 245px;
    margin-top: 17px;
  }
}
