.footer {
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .footer {
    height: 660px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    height: 779px;
  }
}

/* footer top */
/* ------------------------------ */

.footer-top {
  background-color: #181717;
}

@media screen and (min-width: 1920px) {
  .footer-top-cont {
    width: 1290px;
    height: 387px;
    display: flex;
    margin: 0 auto;
    padding-top: 80px;
  }
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .footer-top-cont {
    width: 700px;
    height: 584px;
    display: flex;
    margin: 0 auto;
    padding-top: 67px;
  }
}

@media screen and (max-width: 767px) {
  .footer-top-cont {
    width: 324px;
    height: 663px;
    padding-top: 60px;
    margin: 0 auto;
  }
}

.footer-top__logo {
  width: 328px;
  height: 197.6px;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .footer-top__logo {
    width: 280px;
    height: 168.68px;
  }
}

@media screen and (max-width: 767px) {
  .footer-top__logo {
    width: 210px;
    height: 126px;
  }
}

.footer-top-another-container {
  display: flex;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .footer-top-container {
    display: flex;
  }
  .footer-top-another-container {
    display: table-row;
    margin-left: 81px;
  }
}

@media screen and (max-width: 767px) {
  .footer-top-container {
    display: table-row;
  }
  .footer-top-another-container {
    display: table-row;
    margin-left: 0px;
  }
}

.footer-top-list-container {
  display: flex;
}

.footer-top-list-left {
  margin-left: 113px;
  width: 190px;
  height: 113px;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .footer-top-list-left {
    margin-left: 0px;
    width: 100px;
    height: 113px;
  }
}

@media screen and (max-width: 767px) {
  .footer-top-list-left {
    margin-left: 0px;
    width: 129px;
    height: 104px;
  }
}

.footer-top__link {
  color: white;
  font-family: "Circe";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .footer-top__link {
    font-family: "Circe";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
  }
}

.hl {
  border: 1px solid #302d2d;
  width: 190px;
  height: 2px;
  margin: 10px 0 10px;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .hl {
    width: 100px;
  }
}

@media screen and (max-width: 767px) {
  .hl {
    width: 129px;
  }
}

.footer-top-list-right {
  width: 190px;
  height: 154px;
  margin-left: 30px;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .footer-top-list-right {
    margin-left: 81px;
    width: 100px;
    height: 154px;
  }
}

@media screen and (max-width: 767px) {
  .footer-top-list-right {
    margin-left: 39px;
    width: 128px;
    height: 145px;
  }
}

.footer-top-social-wrapper {
  margin-left: 139px;
}

@media screen and (max-width: 1919px) {
  .footer-top-social-wrapper {
    margin-left: 0;
  }
}

.footer-top-social-list {
  width: 141px;
  height: 24px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .footer-top-social-list {
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .footer-top-social-list {
    margin-top: 40px;
  }
}

.footer-top-social-list__item {
  margin-right: 15px;
}

.footer-top-social-list__item {
  .footer-top-social-list__icon-white {
    display: none;
  }
  .footer-top-social-list__icon-grey {
    display: block;
  }
}

.footer-top-social-list__item:hover {
  .footer-top-social-list__icon-white {
    display: block;
  }
  .footer-top-social-list__icon-grey {
    display: none;
  }
}

.footer-top-social-list__item:last-child {
  margin-right: 0;
}

.footer-top-form {
  width: 301px;
  height: 219px;
}

@media screen and (max-width: 767px) {
  .footer-top-form {
    width: 323px;
  }
}

.footer-top-form__title {
  margin-top: 20px;
  color: white;
  font-family: "Circe";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
}

.footer-top-form__input {
  width: 299px;
  height: 40px;
  margin-top: 20px;
  background: #252222;
  padding-left: 20px;
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .footer-top-form__input {
    margin-top: 10px;
    width: 323px;
    height: 34px;
  }
}

.footer-top-form-container {
  display: flex;
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .footer-top-form-container {
    margin-top: 20px;
  }
}

.footer-top-form__checkbox {
  width: 20px;
  height: 20px;
}

.footer-top-form__text {
  margin-left: 8px;
  color: white;
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .footer-top-form__text {
    font-size: 10px;
  }
}
@media screen and (min-width: 768px) {
  .footer-top-form__btn-1920-768 {
    width: 80px;
    height: 40px;
    margin-left: 30px;
  }
  .footer-top-form__btn-360 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .footer-top-form__btn-360 {
    width: 73px;
    height: 34px;
    margin-left: 61px;
  }
  .footer-top-form__btn-1920-768 {
    display: none;
  }
}

/* footer bottom */
/* ------------------------------------------------------------------------ */

.footer-bottom {
  background-color: #262222;
}

@media screen and (min-width: 1920px) {
  .footer-bottom-wrapper {
    width: 1290px;
    height: 50px;
    display: flex;
    margin: 0 auto;
    align-items: center;
  }
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .footer-bottom-wrapper {
    width: 700px;
    height: 76px;
    display: flex;
    margin: 0 auto;
    padding-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .footer-bottom-wrapper {
    width: 324px;
    height: 116px;
    display: flex;
    margin: 0 auto;
    padding-top: 20px;
  }
}

.footer-bottom__img {
  width: 14.99px;
  height: 18px;
  margin-right: 64px;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .footer-bottom__img {
    width: 14.99px;
    height: 18px;
    margin-right: 21px;
  }
}

@media screen and (max-width: 767px) {
  .footer-bottom__img {
    width: 14.99px;
    height: 18px;
    margin-right: 14px;
  }
}

.footer-bottom-information-list {
  display: flex;
  width: 546px;
  height: 20px;
  align-items: center;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .footer-bottom-information-list {
    width: 429px;
    height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer-bottom-information-list {
    width: 128px;
    height: 80px;
    display: table-row;
  }
}

.footer-bottom-information-list__item {
  margin-left: 40px;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .footer-bottom-information-list__item {
    margin-left: 20px;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .footer-bottom-information-list__item {
    margin-left: 0;
    margin-top: 10px;
    display: flex;
  }
}

.footer-bottom-information-list__item:first-child {
  margin-left: 0;
  margin-top: 0;
}

.footer-bottom-information-list__link {
  color: #939393;
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-decoration: underline;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .footer-bottom-information-list__link {
    font-size: 10px;
  }
}

@media screen and (max-width: 767px) {
  .footer-bottom-information-list__link {
    width: 128px;
    font-size: 9px;
  }
}

@media screen and (min-width: 1920px) {
  .footer-bottom-right-wrapper {
    margin-left: 305px;
    display: flex;
  }
}

@media screen and (max-width: 1919px) {
  .footer-bottom-right-wrapper {
  }
}

@media screen and (max-width: 767px) {
  .footer-bottom-right-wrapper {
    margin-left: 0;
  }
}

.footer-bottom__right-text {
  color: #939393;
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .footer-bottom__right-text {
    font-size: 10px;
    margin-left: 116px;
  }
}

@media screen and (max-width: 767px) {
  .footer-bottom__right-text {
    font-family: "Circe";
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    margin-left: 60px;
    margin-top: 25px;
    /* width: 107px;
    height: 20px; */
  }
}

.footer-bottom-right-madeby-wrapper {
  display: flex;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .footer-bottom-right-madeby-wrapper {
    margin-top: 5px;
    margin-left: 102px;
  }
}

@media screen and (max-width: 767px) {
  .footer-bottom-right-madeby-wrapper {
    margin-top: 7px;
    margin-left: 59px;
  }
}

.footer-bottom__created {
  color: #939393;
  margin-left: 58px;
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .footer-bottom__created {
    font-size: 10px;
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .footer-bottom__created {
    font-size: 9px;
    margin-left: 0;
  }
}

  .footer-bottom__created-img {
    margin-left: 13px;
    height: 15px;
    width: 78.7px;
  }

@media screen and (max-width: 1919px) and (min-width: 768px) {
  .footer-bottom__created-img {
    width: 63px;
    height: 12px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .footer-bottom__created-img {
    width: 47, 14px;
    height: 9px;
    margin-left: 10px;
  }
}
